body{
    margin: 0;
    font-family: 'Cardo', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
   
    }

    *,
    *:before,
    *:after
    {
        box-sizing: border-box;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
    p{
        margin: 0 0 10px;
    }

     /*container*/
     .container{
         width: 100%;
         max-width: 1200px;
         margin: 0 auto;
         padding: 0 15px;
     }

    /*header*/
    
    header{
        width: 100%;
        height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;

    }
    .hedder-inner{
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #858589;
        padding: 35px;
    }

        /*navigation*/
        .nav{
            display: flex;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;     
        }
        
        .nav-linc{
            color: #FFF;
            text-decoration: none;
            opacity: .75;
            transition: .2s linear;
            margin-left: 50px;
          
        } 
         .nav-linc:hover{
            opacity: 1;
            text-decoration: underline
    }
    .nav-linc:first-child{
        margin-left: 0;
        
    }
     /*intro*/
     .intro{
      display: flex;
              flex-direction: column;
              justify-content: center;
              height: 750px;
              padding-top: 100px;
              background-color: #1d2785;
              background-size: cover;
              background: url(../images/bgrimg.jpg) 
              center no-repeat;               
          }
          .intro-inner{
              max-width: 970px;
              width: 100%;
              margin: 0 auto;
            text-align: center;
          }

                  .intro-title{
                      margin: 0 0 30px;

                    font-family: 'Open Sans', sans-serif;
                    font-size: 60px;
                    line-height: 1.1;
                    color: #fff;
                    font-weight: 700;
                    text-transform: uppercase;
                    
                  }
                    .intro-subtitle{
                        font-size: 20px;
                        color: #FFF;
                        line-height: 1.5;
                        font-weight: 400;
                        margin-bottom: 60px;
                    }
     /*button*/
     .btn{
         display: inline-block;
         vertical-align: top;
         padding: 15px 40px;
         border-radius: 3px;
         border: 0;
         cursor: pointer;
         font-family: 'Raleway', sans-serif;
         font-size: 13px;
         font-weight: 600;
         color: #FFF;
         text-transform: uppercase;
         text-decoration: none;
         transition: background .1s linear;


     }
    .btn--red{
        background-color: #e84545;
    }
     .btn--red:hover {
        background-color: #af3434;
     }


     /*Features
     =================*/
     .features{
        display: flex;
        flex-wrap: wrap;
        margin: 100px 0;
     }
         .features-item{
             padding: 0 30px;
             width: 33.33333%;
             text-align: center;
             margin: 25px 0;
         }
          .features-icon{
             margin-bottom: 25px;
         }
         .feature-title{
             margin-bottom: 20px;
             font-size: 14px; 
             font-weight: 700;
            font-family: 'Raleway', sans-serif;
            color: #2d3033;
            text-transform: uppercase;
         }
         .features-text{
             color: #6c7279;
             font-size: 14px;
             line-height: 1.5;
         }
         /* works
         =================== */

         .works{
            display: flex;
            flex-wrap: wrap;

         }
         .works-item{
             width: 25%;
             position: relative;
             overflow: hidden;
             height: 350px;
             border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;

         }
                 .works-item:hover .works-content 
                 {opacity: 1;
                 }

        .works-img{
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate3d(-50%, -50%, 0);

        }

        .works-content{
            position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background-color: rgba(232, 69, 69, 0.9);
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                font-family:'Raleway',sans-serif; 
                font-size: 700;
                opacity: 0;
                transition: opacity .2s linear;

        }
                .works-title{
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    color: #FFF;
                    text-transform: uppercase;
                    margin-bottom: 5px;

                }
                .works-text{
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    
                    color: #FFF;
                                    
                }

    /* Team
    ======================= */
        .team{
            margin: 100px 0 70px; 
        }
        .team-inner{
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
        .team-item{
            width: 25%;
            padding: 0 15px;
            margin-bottom: 30px;
        }
        .team-photo{
            margin-bottom: 20px;
            display: block;
            max-width: 100%;
            height: auto;
        }
        .team-name{
          
            font-size: 22px;
            color: #2d3033;
            font-weight: 400;
            margin-bottom: 10px;


        }
        .team-prof{
            
                font-size: 13px;
                color: #e84545;
                margin-bottom: 15px;
                text-transform: uppercase;
        }

            .team-text{
                color: #6c7279;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

        /* Social
         ======================= */
         .social{
             display: flex;
            

        }

        .social-item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 1px solid #9da7ac;
            margin-right: 5px;
            transition: .2s linear;
            

        }
    .social-item:hover {
            background-color: #ececf8;

    }

        /* reviews
     ======================= */
     .review{
         overflow: hidden;
         background-color: #53354a;
         
     }

     .review-item{
         display: flex;
         flex-wrap: wrap;
     }

    .review-photo{
        width: 50%;
        height: 500px;
        position: relative;

    }

         .review-img{
             position: absolute;
             top: 50%;
             right: 0;
             z-index: 1;
             transform: translateY(-50%);
         }


    .review-content{
        width: 50%;
        color: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 80px;

        
    }

    .review-text{
    font-family: 'Cardo', sans-serif;
    font-size: 36px;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 25px;
    
    
    
    }

    .review-author{

        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;

    }

   







            
        
        




    

