body{
    margin: 0;
    font-family: 'Cardo', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #000;
    }

    *,
    *:before,
    *:after
    {
        box-sizing: border-box;
    }

     /*container*/
     .container{
         width: 100%;
         max-width: 1170px;
         margin: 0 auto;
     }

    /*header*/
    
    header{
      

    }
    .hedder-inner{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #858589;
        padding: 35px;
    }

        /*navigation*/
        .nav{
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;

        }
        .nav-linc{
            color: #FFF;
        } 